.main-container > * {
    border: 1px solid black;
}

img {
    height: 20px;
}

:root {
    --general_padding: 10px;
}

.main-container {
    padding: var(--general_padding);
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 5fr;
    grid-template-rows: max-content 1fr max-content;
    gap: 5px;
}

.header {
    background-color: aqua;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    padding: var(--general_padding);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.header > * {
    background-color: beige;

    justify-self: stretch;
    align-self: stretch;
}

#search-form {
    padding: var(--general_padding);
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

.header-user {
    padding: var(--general_padding);
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 700;
}

.header-greeting-message {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr;
}

.header-greeting-message > img {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    height: 2rem;
}

#hi-message {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    font-size: 0.8rem;
    font-weight: 400;
}

#hi-user-name {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    font-size: 1.2rem;
    font-weight: 700;
}

.header-file-control {
    padding: var(--general_padding);
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
}

.header-file-control > button {
    width: max-content;
}

.sidebar {
    background-color: burlywood;
    grid-column: 1 / 2;
    grid-row: 1 / -2;

    padding: var(--general_padding);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
    gap: 50px;
}

.sidebar-header {
    justify-self: center;
}

.sidebar > ul {
    display: grid;
    gap: 10px;
}

.sidebar > ul > li > a {
    background-color: blueviolet;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 1fr;
    gap: 10px;
}

.content {
    background-color: chocolate;
    grid-column: 2 / -1;
    grid-row: 2 / -2;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.content-projects {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    
    padding: var(--general_padding);
    display: grid;
    grid-template-rows: 20px 1fr;
    gap: 20px;
}

.content-projects > h1 {
    grid-row: 1 / 2;
}

.project-list {
    grid-row: 2 / -1;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, max-content));
    gap: 20px;
}

.project-card {
    background-color: blue;
    
    padding: var(--general_padding);
    display: grid;
    grid-template-rows: 1rem 3fr 1fr;
    align-items: center;
    gap: 10px;
}

.content-info {
    grid-column: -2 / -1;
    grid-row: 1 / 2;

    padding: var(--general_padding);
    display: grid;
    grid-template-rows: 20px 1fr;
    gap: 20px;
}

.announcements {
    display: grid;
    gap: 20px;
}

.announce-card {
    background-color: brown;
    
    padding: var(--general_padding);
    display: grid;
    gap: 10px;
}

.content-trends {
    grid-column: -2 / -1;
    grid-row: 2 / -1;
    
    padding: var(--general_padding);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 20px;
}

.trend-list {
    grid-row: 2 / -1;

    display: grid;
    gap: 20px;
}

.trend-card {
    background-color: blue;

    padding: var(--general_padding);
    display: grid;
    gap: 0.2rem;
}

.footer {
    background-color: chartreuse;
    grid-column: 1 / -1;
    grid-row: -2 / -1;

    height: 2rem;
    text-align: center;
    align-content: center;
}

.footer a {
    font-style: italic;
    text-decoration: underline;
}
